* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* header */

header {
    background-color: aqua;
    width: 100%;
    height: 70px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container {
    background-color: red;
    width: 1021px;
    height: 100%;
    margin: auto;
}

.logo {
    background-color: royalblue;
    height: 100%;
    width: 15%;
    float: left;
}

nav {
    background-color: saddlebrown;
    height: 100%;
    width: 70%;
    float: left;
}

.accedi {
    background-color: seashell;
    height: 100%;
    width: 15%;
    float: right;
}

/* slideshow */

.slideshow {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: orangered;
    position: relative;
}

.testi-slideshow{
    width: 680px;
    height: 277px;
    background-color: orchid;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* section1 */

.section-1 {
    background-color: purple;
    width: 100%;
    height: 100vh;
    position: relative;

}

.immagine-testo{
    background-color: seashell;
    width: 1022px;
    margin: auto;
    height: 100%;
}

.immagine{
    float: left;
    width: 65%;
    height: 100%;
    background-color: sienna;
}

.testo{
    float: right;
    width: 35%;
    height: 100%;
    background-color: rgb(255, 0, 179);

}

/* section 2 */



.section-2 {
    background-color: rgb(141, 131, 141);
    width: 100%;
    height: 100vh;
    position: relative;

}





.section-2 .immagine{
    float: right;
    width: 65%;
    height: 100%;
    background-color: rgb(179, 152, 140);
}

.section-2 .testo{
    float: left;
    width: 35%;
    height: 100%;
    background-color: rgb(34, 34, 34);

}


/* section3 */
.section-3 {
    background-color: purple;
    width: 100%;
    height: 100vh;
    position: relative;





