* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}
/* header */

header {
    background-color:#3161E0;
    width: 100%;
    height: 70px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container {
    
    width: 1021px;
    height: 100%;
    margin: auto;
}

.logo {
    background-color: #3161E0;
    height: 100%;
    width: 15%;
    float: left;
    line-height: 100px;
}

nav {
    
    height: 100%;
    width: 70%;
    float: left;
}


nav ul{
    text-align: center;
}


nav li {
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
}

.accedi {
    background-color: white;
    float: right;
    border-radius: 25px;
    margin-top: 18px;
    padding: 5px 17px;
}

.accedi a {
    text-decoration: none;
}

.accedi a:visited {
    color: black;
}


/* slideshow */

.slideshow {
    width: 100%;
    height: calc(100vh - 70px);
    background-image: url(../img/jumbo.png);
    position: relative;
    background-origin: content-box;
    background-size: cover;
}

.testi-slideshow{
    width: 680px;
    height: 277px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.testi-slideshow h1 {
    font-size: 3em;
    color: white;
}

.testi-slideshow p {
    color: white;
    margin-bottom: 25px;
}

.testi-slideshow span {
    border-radius: 25px;
    padding: 10px 25px;
    margin: 10px;
}

.testi-slideshow a {
    text-decoration: none;
}

.scarica {
    background-color: white;
    color: black;
}

.scarica a:visited {
    color: black;
}

.apri-discord {
    background-color: black;
    color: white;
}

.apri-discord a:visited {
    color: white;
}

/* section1 */

.section-1 {
    background-color: purple;
    width: 100%;
    height: 100vh;
    position: relative;

}

.immagine-testo{
    background-color: seashell;
    width: 1022px;
    margin: auto;
    height: 100%;
}

.immagine{
    float: left;
    width: 65%;
    height: 100%;
    background-color: sienna;
}

.testo{
    float: right;
    width: 35%;
    height: 100%;
    background-color: rgb(255, 0, 179);

}

/* section 2 */



.section-2 {
    background-color: rgb(141, 131, 141);
    width: 100%;
    height: 100vh;
    position: relative;

}





.section-2 .immagine{
    float: right;
    width: 65%;
    height: 100%;
    background-color: rgb(179, 152, 140);
}

.section-2 .testo{
    float: left;
    width: 35%;
    height: 100%;
    background-color: rgb(34, 34, 34);

}


/* section3 */
.section-3 {
    background-color: purple;
    width: 100%;
    height: 100vh;
    position: relative;





