* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}
/* header */

header {
    background-color:#3161E0;
    width: 100%;
    height: 70px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1021px;
    height: 100%;
    margin: auto;
}

.logo {
    background-color: #3161E0;
    height: 100%;
    width: 15%;
    float: left;
    line-height: 100px;
}

nav {
    
    height: 100%;
    width: 70%;
    float: left;
}


nav ul{
    text-align: center;
}


nav li {
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
}

.accedi {
    background-color: white;
    float: right;
    border-radius: 25px;
    margin-top: 18px;
    padding: 5px 17px;
}

.accedi a {
    text-decoration: none;
}

.accedi a:visited {
    color: black;
}


/* slideshow */

.slideshow {
    width: 100%;
    height: calc(100vh - 70px);
    background-image: url(../img/jumbo.png);
    position: relative;
    background-origin: content-box;
    background-size: cover;
}

.testi-slideshow{
    width: 680px;
    height: 277px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.testi-slideshow h1 {
    font-size: 3em;
    color: white;
}

.testi-slideshow p {
    color: white;
    margin-bottom: 25px;
}

.testi-slideshow span, .section-5 span, footer span {
    border-radius: 25px;
    padding: 10px 25px;
    margin: 10px;
}

.testi-slideshow a {
    text-decoration: none;
}

.scarica {
    background-color: white;
    color: black;
}

.scarica a:visited {
    color: black;
}

.apri-discord {
    background-color: black;
    color: white;
}

.apri-discord a:visited {
    color: white;
}

/* sections general */

section {
    width: 100%;
    height: 100vh;
    position: relative;
}

.immagine-testo {
    width: 1022px;
    margin: auto;
    height: 100%;
}

.immagine {
    width: 65%;
    height: 100%;
    position: relative;
}

section img:not(.img-4, .img-5) {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.testo {
    width: 35%;
    height: 100%;
    position: relative;
}

section h2 {
    font-size: 2.3em;
}

.testo div {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
}
 /* section 1 e section 3*/

.section-1 .immagine, .section-3 .immagine {
    float: left;
}

.section-1 .testo, .section-3 .testo {
    float: right;
}

/* section 2 */

.section-2 {
    background-color: #f6f6f6;
}

.section-2 .immagine{
    float: right;
    background-color: #f6f6f6;
}

.section-2 .testo{
    float: left;
    background-color: #f6f6f6;
}

/* section 4 */

.section-4, .section-5 {
    background-color: #f6f6f6;
    text-align: center;
}

.section-4 {
    padding-top: 60px;
}

/* section 5 */

.section-5 {
    height: 210px;
}

.section-5 span {
    background-color: #8ea1e1;
    color: white;

}

.section-5 a {
    text-decoration: none;
}

.section-5 a:visited {
    color: white;
}

.section-5 h3 {
    transform: translate(0px, -25px);
}

.img-5 {
    width: 350px;
}

/* footer */

footer {
    background-color: black;
    width: 100%;
    color: white;
    padding-bottom: 80px;
    padding-top: 80px;
}

.conteiner-footer {
    width: 1022px;
    background-color: black;
    height: 100%;
    margin:auto;
    border-bottom: #7289DA solid 1px;
    padding-bottom: 15px;
}

.col-contatti {
    float: left;
    width: 30%;
}

footer .col-contatti h1 {
    color: #7289DA;
}

footer .col-contatti form {
    padding-top: 15px;
    padding-bottom: 3px;
}

.col-contatti img {
    width: 20px;
}

select {
    background-color: black;
    color: white;
    border: none;
}

/* icone */
i {
    color: white;
    margin-right: 20px;
}


.col-prodotto {
    float: left;
    width: 17.5%;
}

.titolo-liste {
    list-style: none;
    color: #7289DA;
    font-weight: bold;
}

.col-prodotto ul li {
    list-style: none;
    padding: 5px;

}


.col-compania {
    float: left;
    width: 17.5%;
}

.col-compania ul li {
    list-style: none;
    padding: 5px;
}





.col-risorse {
    float: left;
    width: 17.5%;
}


.col-risorse ul li {
    list-style: none;
    padding: 5px;
}


.col-norme {
    float: left;
    width: 17.5%;
}


.col-norme ul li {
    list-style: none;
    padding: 5px;
}


footer span {
    background-color: #8ea1e1;
    color: white;
    float: right;
}

footer span a {
    text-decoration: none;
}

footer span a:visited {
    color: white;
}

.fine-footer {
    width: 1022px;
    margin: auto;
    padding-top: 20px;
}